<table>
<tr><th>Contact</th><th>Address</th><th>Location</th></tr>
<% @contacts.each do |contact| %>
   <tr>
	<td><%= contact.Name %></td>
	<td><%= contact.MailingStreet %></td>
	<td><%= contact.Lat_Long__Longitude__s %></td>
   </tr>
<% end %>
</table>