<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
  <script type="text/javascript"
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAc16615kw98ZLpwRZhckJkhO-A55Xd-c&sensor=false">
  </script>
  <div id="map-canvas"/>
</p>
